{% extends "custModule/header.html" %}
{% block content %}
{% load staticfiles %}
    
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Appointment</h2>
            <h3>Current Appointments</h3>
            <div class="panel panel-info">
                <div class="panel-heading container-fluid">
                    <div class="col-xs-9"><p>DATE AND TIME SET</p></div>
                    <div class="col-xs-3"><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span> EDIT SCHED</button>
                    {% include "custModule/includes/modal.html" %}
                    <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModalsure"><span class="glyphicon glyphicon-remove"></span> CANCEL</a>
                           {% include "custModule/includes/modalsure.html" %} 
                    </div>
                </div>
                <div class="panel-body">
                    <p>STARTING IN: </p>
                    <p>SP NAME:</p>
                    <p>PET AND BREED:</p>
                    <p>SERVICE PROVIDED:</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}