{% extends "custModule/header.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Transaction</h2>
            <div class="panel panel-info">
                {% for tr in tran %}
                <div class="panel-heading">{{ tr.transdate }}, {{ tr.timein }} until {{ tr.timeout }}</div>
                <div class="panel-body">
                    <p>OR # {{ tr.trans }}</p>
                    {% for r in req %}
                        <p>SP NAME: {{ r.firstname }} {{ r.lastname }}</p>
                        <p>PET and BREED: {{ r.pettype }} : {{ r.petbreed }}</p>
                        <p>SERVICE PROVIDED: {{ r.servid }}</p>
                    {% endfor %}
                    <a href="/newreview/" class="btn btn-default " role="button">REVIEW<span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="/complaint/" class="btn btn-default " role="button">COMPLAINT<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}