{% block content %}
<!-- Modal -->
  <div class="modal fade" id="viewprof" role="dialog">
    <div class="modal-dialog vertical-center">
    
      <!-- Modal content-->
      <div class="modal-content pagination-centered">
        <div class="modal-header">
        {% for sp in sp_data %}
          <h4 class="modal-title text-center">{{ sp.spfirstname }} {{ sp.splastname }}</h4>
        </div>
        <div class="modal-body text-center">
            <p>CONTACT INFO AND ADDRESS</p>
            <ul>
                <li>Email Address: {{ sp.spemail }}</li>
                <li>Contact #: {{ sp.spnum }}</li>
                <li>Address: {{ sp.spadd }}</li>
            </ul>
            <p>REVIEWS</p>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
{% endblock %} 