{% extends "custModule/header.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="row">
        <div class="col-lg-12">
            <a href="/request/" class="btn btn-default" role="button">REQUESTS</a>
            <h2 class="page-header">New Request</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel panel-info">
                        <form action="/newrequest/" method="post">
                        {% csrf_token %}
                               {{ form.as_p }}
                            <input type="submit" value="SUBMIT"> 
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}