{% extends "custModule/header.html" %}
{% block content %}
    
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Appointment</h2>
            <h3>Current Appointments</h3>
            <div class="panel panel-info">
                <div class="panel-heading">Date and Time</div>
                <div class="panel-body">
                    <p>STARTING IN: </p>
                    <p>SP NAME:</p>
                    <p>PET AND BREED:</p>
                    <p>SERVICE PROVIDED:</p>
                </div>
            </div>
        </div>
    </div>
<!-- {% include "custModule/includes/searchScript.html" %} -->
{% endblock %}