{% extends "custModule/header.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Request</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a href="/newrequest/" class="btn btn-info btn-block" role="button">NEW REQUEST</a>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">ACCEPTED REQUESTS</div>
                            <div class="panel-body">
                                <div class="panel panel-info">
                                    <div class="panel-heading">DATE AND TIME REQUESTED</div>
                                    <div class="panel-body">
                                        <p>SP NAME:</p>
                                        <p>SERVICE PROVIDED:</p>
                                        <a href="/appointment/" class="btn btn-default pull-right" role="button">APPOINTMENTS<span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" role="tablist">
                            <div class="panel panel-danger">
                                <div class="panel-heading">PENDING REQUESTS</div>
                                <div class="panel-body">
                                    <div class="panel panel-info">
                                        <div class="panel-heading container-fluid">
                                            <div class="col-xs-9"><p>DATE AND TIME REQUESTED</p></div>
                                            <div class="col-xs-3"><a href="#" class="btn btn-info btn-xs " data-toggle="modal" data-target="#myModaleditrequest"><span class="glyphicon glyphicon-pencil"></span> EDIT</a>
                                            {% include "custModule/includes/modaleditrequest.html" %}
                                            
                                                
                                            <a href="#"><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModalnewrequest"><span class="glyphicon glyphicon-remove "></span>CANCEL</button></a>
                        {% include "custModule/includes/modalnewrequest.html" %}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <p>SP NAME:</p>
                                            <p>SERVICE PROVIDED:</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>         
{% endblock %}